@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.navbar{
  background-color: rgb(255, 255, 255);
  padding: 10px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(210, 207, 207);
  position: sticky;
  top: 0;
  z-index: 5;
  >.ul{
    display: flex;
    column-gap: 20px;
    /* background-color: red; */
    align-items: center;
  }
  
  
  
}
.active{
  color: red;
}

.normal{
  color: rgb(0, 0, 0);
}
.normal:hover{
  color: red;
}
